body{
    display: flex;
    justify-content: center;
    background-image: url(futebol.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.formulario{
    color: green;
    background-color: white;
    width: 550px;
    align-items: center;
    border: solid 5px green;
    border-radius: 10px ;
    padding: 25px;
    padding-right: 0;
    padding-top: 0;
}

#checkbox{
    display: block;
}

.checkbox{ 
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: -20px 0;
}

textarea{
    resize: none;
}

.caixa{
    padding: 0 3px;
}